<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.agent.wgcloud.mbg.mapper.AppInfoMapper" >
  <resultMap id="BaseResultMap" type="com.agent.wgcloud.mbg.model.AppInfo" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="ACCOUNT_ID" property="accountId" jdbcType="CHAR" />
    <result column="ACCOUNT" property="account" jdbcType="CHAR" />
    <result column="HOST_NAME" property="hostName" jdbcType="CHAR" />
    <result column="APP_PID" property="appPid" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="APP_NAME" property="appName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ACCOUNT_ID, ACCOUNT, HOST_NAME, APP_PID, CREATE_TIME, APP_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.agent.wgcloud.mbg.model.AppInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from app_info
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from app_info
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.agent.wgcloud.mbg.model.AppInfoExample" >
    delete from app_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.agent.wgcloud.mbg.model.AppInfo" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app_info (ACCOUNT_ID, ACCOUNT, HOST_NAME, 
      APP_PID, CREATE_TIME, APP_NAME
      )
    values (#{accountId,jdbcType=CHAR}, #{account,jdbcType=CHAR}, #{hostName,jdbcType=CHAR}, 
      #{appPid,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{appName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.agent.wgcloud.mbg.model.AppInfo" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        ACCOUNT_ID,
      </if>
      <if test="account != null" >
        ACCOUNT,
      </if>
      <if test="hostName != null" >
        HOST_NAME,
      </if>
      <if test="appPid != null" >
        APP_PID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="appName != null" >
        APP_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        #{accountId,jdbcType=CHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=CHAR},
      </if>
      <if test="hostName != null" >
        #{hostName,jdbcType=CHAR},
      </if>
      <if test="appPid != null" >
        #{appPid,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.agent.wgcloud.mbg.model.AppInfoExample" resultType="java.lang.Integer" >
    select count(*) from app_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update app_info
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.accountId != null" >
        ACCOUNT_ID = #{record.accountId,jdbcType=CHAR},
      </if>
      <if test="record.account != null" >
        ACCOUNT = #{record.account,jdbcType=CHAR},
      </if>
      <if test="record.hostName != null" >
        HOST_NAME = #{record.hostName,jdbcType=CHAR},
      </if>
      <if test="record.appPid != null" >
        APP_PID = #{record.appPid,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appName != null" >
        APP_NAME = #{record.appName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update app_info
    set ID = #{record.id,jdbcType=CHAR},
      ACCOUNT_ID = #{record.accountId,jdbcType=CHAR},
      ACCOUNT = #{record.account,jdbcType=CHAR},
      HOST_NAME = #{record.hostName,jdbcType=CHAR},
      APP_PID = #{record.appPid,jdbcType=CHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      APP_NAME = #{record.appName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.agent.wgcloud.mbg.model.AppInfo" >
    update app_info
    <set >
      <if test="accountId != null" >
        ACCOUNT_ID = #{accountId,jdbcType=CHAR},
      </if>
      <if test="account != null" >
        ACCOUNT = #{account,jdbcType=CHAR},
      </if>
      <if test="hostName != null" >
        HOST_NAME = #{hostName,jdbcType=CHAR},
      </if>
      <if test="appPid != null" >
        APP_PID = #{appPid,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appName != null" >
        APP_NAME = #{appName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.agent.wgcloud.mbg.model.AppInfo" >
    update app_info
    set ACCOUNT_ID = #{accountId,jdbcType=CHAR},
      ACCOUNT = #{account,jdbcType=CHAR},
      HOST_NAME = #{hostName,jdbcType=CHAR},
      APP_PID = #{appPid,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      APP_NAME = #{appName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>